@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
}

<h1>Restaurants</h1>

<div>@Model.Message</div>
<br />
<!--Método get para realizar operação de leitura-->
<!--Action com / pois deseja-se que esta mesma pagina seja responsavel por processar o form-->
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <!--asp-for: Tag Helper que trabalha com validação de model biding e asp.net core, funciona com input tags e labels tags
                Este helper muda a ancorda para apontar para uma pagina especifica do sistema
                "Essa é a propriedade que voce encontrata no model"-->
            <input type="search" class="form-control" name="searchTerm" asp-for="SearchTerm"  value="" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>

    </div>

</form>

<table class="table">
   @foreach(var restaurant in Model.Restaurants)
   {
    <tr>
        <td>@restaurant.Name</td>
        <td>@restaurant.Location</td>
        <td>@restaurant.Cuisine</td>
    </tr>
   }
</table>